---
- name: create /data
  file:
    path: /data
    state: directory

- name: force ownership of /data to vagrant
  file:
    path: /data
    state: directory
    owner: vagrant
    group: vagrant

- name: setup libvirt
  include: libvirt.yml

- name: install Packer
  apt:
    name: packer
    state: present

- name: upload templates
  synchronize:
    src: files/templates
    dest: /data/
  become: false

- name: fix permissions on kvm node
  file:
    path: /dev/kvm
    owner: root
    group: kvm
    mode: 0666

- name: build vms
  include: build.yml
  with_items:
    - { name: 'winxp', ram: '512', packer_template: 'windows.json', packer_varfile: 'winxp.json' }

- name: refresh libvirt pool
  command: virsh -c qemu:///system pool-refresh default
