[submodule "kvm"]
	path = kvm
	url = https://github.com/thomasdangl/kvm
[submodule "qemu"]
	path = qemu
	url = https://github.com/KVM-VMI/qemu
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/KVM-VMI/libvmi
[submodule "libkvmi"]
	path = libkvmi
	url = https://github.com/bitdefender/libkvmi
